html{
    scroll-behavior:smooth;
}
:root{
  --background_color: #191645;
  --background_color_tablet: #283618;
  --background_color_desktop: #780000;
  --accent-color: #E5E5E5;
  --alert-color: #43C6AC;
  --font_color_tablet: #000;
  --shadow-box: rgba(0, 0, 0, 0.35);
  --default_font: "Google Sans", sans-serif;
  --tittle_font: Verdana, Geneva, Tahoma, sans-serif;
  --link_font: "Unbounded", sans-serif;
}


*{
  font-family: var(--default_font);
  color: var(--accent-color);
}

h1,h2{
  font-family: var(--tittle_font);
}


a{
  font-family: var(--link_font);
  font-size: small;
  text-decoration: none;
  font-weight: bold;
  color: var(--alert-color);
  /* color: rgb(141, 43, 43); */
}
img{
  max-width: 100%;
}

body{
  margin: 0;
  background-color: var(--background_color);
}

#logo{
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-self: center;
}

#logo:active{
  animation: rotate 4s ease-in-out infinite;
}

#title{
  display: flex;
  justify-self: center;
}

.banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 2%;
}

#menu{
  
  display:flex;
  flex-direction: column;
}

.menuCard{
  font-size: 100%;
  background-color: var(--accent-color);
  border-bottom: 5px solid var(--background_color);
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  transition: background-color 0.5s;
}
.menuCard:hover{
  background-color: var(--alert-color);
  color: var(--background_color);
  box-shadow: var(--shadow-box) 0px 5px 15px;
}


#hero{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  background-color: var(--alert-color);
  border-radius: 15px;
  max-width: 100%;
  align-items: center;
}
#hero img{
  width: 100%;
  border-radius: 11px;
}


#hero button{
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border-color: var(--accent-color);
  background-color: var(--background_color);
  transition: box-shadow 0.5s;
}
#hero button:active{
  background-color: var(--accent-color);
  color: var(--alert-color);
}
#hero button:hover{
  box-shadow: var(--shadow-box) 2px 15px 15px;
}
#heroContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills, #contact, #resume{
  padding: 5%;
  border-right: solid var(--accent-color);
  border-top: solid var(--accent-color)
}
#skills-grid{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}

@media (min-width:768px){
  .menuCard{
  background-color: var(--accent-color);
  border-bottom: 5px solid var(--background_color);
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  }
  #hero{
    flex-direction: row;
    max-width: 800px;
    margin-bottom: 5%;
  }
  #hero img{
  width: 2000px;
  margin-bottom: -5px;
  padding-right: 5%;
  }

  #heroContent{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  
  }
  #heroContent button{
  margin-top: 100%;
  }
}


@media (min-width:1024px){
  body{
    background-color: var(--background_color);
  }
    #menu{
    display: flex;
    flex-direction: row;
  }
  .menuCard{
    display:flex;
    justify-content: center;
    background-color: var(--accent-color);
    border-bottom: none;
    width: 100%;
  }
  #hero{
    margin: 0 auto;
    flex-direction: row;
    max-width: 800px;
  }
  #heroContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
 }
 #heroContent button{
  margin-top: 100%;
 }
 #hero img{
  width: 2000px;
  margin-bottom: -5px;
  }

#info{
  padding-top: 2%;
  margin-bottom: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#skills, #contact, #resume{
  padding: 5%;
  border-right: solid var(--accent-color);
  border-top: solid var(--accent-color)
}
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
